@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  color: #1e1e1e;
  font-family: "Pathway Extreme", sans-serif;
}

.circle {
  position: absolute;
  background-color: #1e1e1e;
  border: solid 1px #e2e2e2;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.full-body {
  background-color: #e2e2e2;
  scroll-behavior: smooth;
  background-image: url(../img/noise.png);
  background-position: 50% 50%;
  background-size: 15%;
  background-attachment: fixed;
  overflow-x: hidden;
}

.welcome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 12%;
}

.first-conteiner-welcome {
  width: 100%;
  height: 15vh;
}
.first-conteiner-welcome h2 {
  margin: 0px;
  padding: 0px;
  font-weight: 800;
  font-size: 10em;
}

.second-conteiner-welcome {
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: row;
}

.svg-circle {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
}
.style-defs {
  font-size: 10px;
  letter-spacing: 22px;
}
.svg-circle svg {
  animation-name: rotate;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.my-name {
  width: 50%;
  height: 100%;
  display: flex;
}

.my-name h1 {
  margin: 0px;
  padding: 0px;
  font-weight: 800;
  font-size: 16em;
}

.third-conteiner-welcome {
  width: 100%;
  height: 35vh;
}
.third-conteiner-welcome h1 {
  margin: 0px;
  padding: 0px;
  font-weight: 800;
  font-size: 22em;
}
/* QUERYS PARA CELULAR */
@media only screen and (max-width: 600px) {
  .welcome {
    background-color: red;
    align-items: end;
    justify-content: end;
  }
  .first-conteiner-welcome {
    width: 100%;
    height: 5vh;
  }
  .first-conteiner-welcome h2 {
    font-size: 3em;
  }

  .second-conteiner-welcome {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .svg-circle {
    width: 40%;
  }
  .style-defs {
    font-size: 1.5em;
    letter-spacing: 22px;
  }

  .my-name {
    display: flex;
    align-items: center;
  }

  .my-name h1 {
    font-size: 4em;
  }
  .third-conteiner-welcome {
    height: 15vh;
  }
  .third-conteiner-welcome h1 {
    font-size: 4.5em;
  }
}

/*------------------------------- ABOUT ME ----------------------------------------- */

.about-me-guess {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* QUERYS PARA CEL */
@media only screen and (max-width: 600px) {
  .about-me-guess {
  }
}

.about-me {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.about-me > .about-me-presentation {
  width: 50%;
  height: 100%;
}

.about-me .about-me-presentation > h3 {
  padding: 15% 40% 0% 10%;
  font-weight: 700;
  font-size: 2.5em;
}
.about-me .about-me-presentation > h3 > span {
  font-weight: 500;
  font-style: italic;
  text-decoration: underline;
}

.about-me > .about-me-more {
  width: 50%;
  height: 100%;
}
.about-me > .about-me-more .who-word {
  width: 100%;
  height: auto;
}
.about-me > .about-me-more .who-word h4 {
  font-weight: 800;
  font-size: 10em;
}

.about-me > .about-me-more .about-me-information {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
}

.about-me .about-me-more .about-me-information > .who-im {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  text-align: left;
  gap: 3%;
}
.about-me .about-me-more .about-me-information > .photo {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}
.about-me .about-me-more .about-me-information > .photo img {
  width: 90%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .about-me {
    flex-direction: column;
    height: auto;
  }
  .about-me > .about-me-presentation {
    width: 100%;
  }
  .about-me .about-me-presentation > h3 {
    padding: 5% 10% 0% 2%;
    font-weight: 700;
    font-size: 1.8em;
    text-align: left;
  }
  .about-me > .about-me-more .who-word h4 {
    display: none;
  }
  .about-me > .about-me-more .about-me-information {
    width: 100%;

    display: flex;
    flex-direction: column-reverse;
  }
  .about-me .about-me-more .about-me-information > .who-im {
    padding: 5% 5% 5% 5%;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    text-align: left;
    gap: 20px;
  }

  .about-me .about-me-more .about-me-information > .photo {
    padding: 5% 5% 5% 5%;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: end;
  }
  .about-me .about-me-more .about-me-information > .photo img {
    width: 100%;
  }
}

.skills {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.skills > span {
  font-size: 11em;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: clip;
  font-weight: 800;
}

.skills-stack{
  width: 100%;
  height: 100vh;

}
.skills-stack > h4{
  font-weight: 800;
  font-size: 10em;
}



