::-webkit-scrollbar {
    width: 8px;
}

 ::-webkit-scrollbar-track {
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    background-color: #fefefe;
    border-right: none;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.0);
}